{% extends "layout.html" %}
{% block body %}
<h1>Checkout</h1>
<!-- Flex container to put divs side by side -->
<div class="flex-container">
    <!-- Card for the checkout products to go in -->
    <div class="checkout-card">
        <!-- Headings for the products -->
        <div class="checkout-header">
            <b>Products</b>
            <b>Price</b>
            <b>Actions</b>
        </div>
        <!-- Loop to display every checkout product -->
        {% for product in database %}
            <div class="checkout-row">
                <p>{{ product[2] }}</p>
                <p>${{ "%.2f" | format(product[3] | float) }}</p>
                <!-- Remove from checkout Form -->
                <form action="{{ url_for('remove_from_checkout') }}" method="POST" style="display: inline;">
                    <input type="hidden" name="product_id" value="{{ product[0] }}">
                    <button type="submit" class="remove">Remove</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <!-- Total price and submit order -->
    <div class="order-summary-card">
        <h2>Order Summary</h2>
        <p><strong>Total price:</strong> ${{ "%.2f" | format(database | map(attribute=3) | sum | float) }}</p>

        <!-- Submit Order Form -->
        <form action="{{ url_for('submit_order') }}" method="POST" style="display: inline;">
            <button type="submit">Submit Order</button><br>
        </form>
        
        <!-- Clear Cart Form -->
        <form action="{{ url_for('clear_cart') }}" method="POST" style="display: inline;">
            <button type="submit" class="remove">Clear Cart</button><br>
        </form>
        {% if error %}
            <p style="color: red">{{ error }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}