{% extends "layout.html" %}
{% block body %}
<h1>Checkout</h1>
<div class="checkout-card">
    <div class="checkout-header">
        <b>Products</b>
        <b>Price</b>
        <b>Actions</b>
    </div>
    {% for product in database['products'] %}
        <div class="checkout-row">
            <p>{{ product[2] }}</p>
            <p>${{ "%.2f" | format(product[3] | float) }}</p>
            <button type="button" class="remove">Remove</button>
        </div>
    {% endfor %}
</div>
{% endblock %}