{% extends "layout.html" %}
{% block body %}
<h1>Checkout</h1>
<!-- Flex container to put divs side by side -->
<div class="flex-container">
    <!-- Card for the checkout products to go in -->
    <div class="checkout-card">
        <!-- Headings for the products -->
        <div class="checkout-header">
            <b>Products</b>
            <b>Price</b>
            <b>Actions</b>
        </div>
        <!-- Loop to display every checkout product -->
        {% for product in database %}
            <div class="checkout-row">
                <p>{{ product[2] }}</p>
                <p>${{ "%.2f" | format(product[3] | float) }}</p>
                <button type="button" class="remove">Remove</button>
            </div>
        {% endfor %}
    </div>
    <!-- Total price and submit order -->
    <div class="order-summary-card">
        <h2>Order Summary</h2>
        <p><strong>Total price:</strong> ${{ "%.2f" | format(database | map(attribute=3) | sum | float) }}</p>
        <button type="button">Submit Order</button><br>
        <button type="button" class="remove">Clear Cart</button><br>
    </div>
</div>
{% endblock %}