<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>广东 Store</title>
</head>
<body>
    <!-- Store title -->
    <header>广东 Store</header>

    <!-- Navigation bar links -->
    <nav>
        <a href="{{ url_for('store') }}" class="navbar">Store</a>
        <a href="{{ url_for('wishlist') }}" class="navbar">Wishlist</a>
        <a href="{{ url_for('checkout') }}" class="navbar">Checkout</a>
        <a href="{{ url_for('profile') }}" class="navbar">Profile</a>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>