{% extends "layout.html" %}
{% block body %}
<h1>Wishlist</h1>
<div class="wishlist-grid">
<!-- Card for the wishlist products to go in -->
{% for product in database %}
    <div class="wishlist-card">
        <img src="{{ product[4] }}" alt="{{ product[2] }}">
        <div class="wishlist-card-text">
            <b>{{ product[2] }}</b>
            <p>${{ product[3] }}</p>
        </div>
        <div class="wishlist-card-buttons">
            <button type="button">Add to Cart</button><br>
            <button type="button" class="remove">Remove</button>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}