@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Arvo);

body {
    background-color: #424242;
}

header {
    font-family: 'Inter';
    position: absolute;
    color: white;
    font-size: 20px;
}

a {
    font-family: 'Inter';
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

nav {
    text-align: center;
    background-color: black;
    margin: -8px;
    height: 30px;
}

h1 {
    font-family: 'Arvo';
    font-size: 50px;
    text-align: center;
    color: white;
}

p {
    font-family: 'Inter';
}

b {
    font-family: 'Inter';
    font-size: 20px;
}

img {
    width: 150px;
}

button {
    font-family: 'Inter';
    width: 150px;
    height: 25px;
    border-width: 0;
    border-radius: 5px;
    background-color: #24A0ED;
    margin: 3px 0;
}

button:hover {
    background-color: #1F92DA;;
}

button:active {
    background-color: #1A84C7;
}

button.remove {
    background-color: #FF9999;
}

button.remove:hover {
    background-color: #FF8080;;
}

button.remove:active {
    background-color: #F25959;
}

.product-card {
    width: 170px;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.wishlist-card {
    width: 500px;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    gap: 20px;
}

.wishlist-card-text {
    text-align: left;
}

.wishlist-card-buttons {
    margin-left: auto;
}

.wishlist-card-img {
    max-width: 100px;
    height: auto;
    object-fit: cover;
}

/* GRIDS */
.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto); 
    gap: 20px;
    padding: 20px;
}

.wishlist-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}